<div class="body" [ngClass]="getBodyClass()">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="redes">
    <p>&copy; Portfolio Web 2022</p>
    <a
      class="sidenav-nav-link"
      href="https://www.linkedin.com/in/lauchumbita/"
      target="_blank"
      ><i class="pi pi-linkedin sidenav-link-icon2"></i
    ></a>

    <a
      class="sidenav-nav-link"
      href="https://github.com/Minhi010"
      target="_blank"
    >
      <i class="pi pi-github sidenav-link-icon2"></i>
    </a>
  </div>
</footer>
