<div class="body" [ngClass]="getBodyClass()">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="redes">
    <p>&copy;</p>
    <a class="sidenav-nav-link" href="https://www.google.com" target="_blank"
      ><i class="pi pi-linkedin sidenav-link-icon"></i
    ></a>

    <a class="sidenav-nav-link" href="www.google.com" target="_blank">
      <i class="pi pi-linkedin sidenav-link-icon"></i>
    </a>

    <a class="sidenav-nav-link" href="www.google.com" target="_blank">
      <i class="pi pi-linkedin sidenav-link-icon"></i>
    </a>
  </div>
</footer>
