.body {
  margin-left: 5rem;
  padding: 0.5rem 2rem 0 2rem;
  transition: all 0.5s ease;
  min-height: 100vh;
}
.body-trimmed {
  width: calc(100% - 16.5625rem);
  margin-left: 16.5625rem;
}
.body-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}
.redes {
  display: flex;
  padding: 5px;
  justify-content: center;
}
.redes i {
  color: var(--color-rosa);
}
.redes p {
  padding: 0 10px;
}
.sidenav-link-icon2 {
  font-size: 22px;
  width: 2rem;
  min-width: 2rem;
  margin: 0 0.5rem;
  text-align: center;
}
