.sidenav {
  background-color: var(--color-oscuro);
  transition: all 0.5s ease;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 5rem;
  height: 100%;
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 0.938rem 0.938rem 0 0.938rem;
  width: 100%;
}
.logo {
  background: var(--color-claro);
  text-align: center;
  width: 3rem;
  min-width: 3rem;
  border-radius: 0.54rem;
  padding: 0.313rem;
  font-size: 24px;
  cursor: pointer;
  border: none;
}
.logo-text {
  margin-left: 1.5rem;
  font-size: 24px;
  font-weight: 500;
  color: var(--color-rosaC);
}
.btn-close {
  margin-left: auto;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: transparent;
  border: none;
}
.pi-times {
  color: var(--color-claro);
  font-size: 24px;
}
.sidenav-collapsed {
  width: 16.562rem;
}
.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: calc(100% - 3.65rem);
  cursor: pointer;
}
.sidenav-nav-item {
  width: 100%;
  margin-bottom: 0.625rem;
}

.sidenav-nav-link {
  display: flex;
  align-items: center;
  height: 3rem;
  color: var(--color-claro);
  text-decoration: none;
  border-radius: 0.625rem;
  transition: all 0.3s ease;
}
.sidenav-nav-link:hover {
  background-color: var(--color-claro);
  color: var(--color-oscuro);
}
.sidenav-link-icon {
  font-size: 22px;
  width: 2rem;
  min-width: 2rem;
  margin: 0 0.5rem;
  text-align: center;
}
.sidenav-link-text {
  margin-left: 1.5rem;
}
.active {
  background-color: var(--color-rosaC);
  color: var(--color-oscuro);
}
.sidenav-link-icon:hover {
  color: var(--color-oscuro);
}

.sidenav-link-text:hover {
  color: var(--color-oscuro);
}
.logoap {
  width: 3.5em;
  height: 3em;
  cursor: pointer;
}
