<div class="secciones">
  <div class="textos">
    <h2>Nombre: {{ proyecto.nombre }}</h2>
    <h3>Descripcion: {{ proyecto.descripcion }}</h3>
    <h3>Fecha: {{ proyecto.fecha }}</h3>
    <a href="{{ proyecto.enlace }}" target="_blank" class="link"
      >Enlace a proyecto.</a
    >
  </div>
</div>
<div class="botones">
  <span class="p-buttonset">
    <button
      (click)="editarProyectoForm()"
      type="button"
      class="ov-btn-slide-right"
    >
      <i class="pi pi-pencil"></i>
      Editar
    </button>
    <button
      (click)="eliminarProyectoForm()"
      type="button"
      class="ov-btn-slide-right"
    >
      <i class="pi pi-trash"></i>
      Borrar
    </button>
  </span>
</div>
