<div class="secciones">
  <div class="box">
    <img [src]="habilidad.foto" alt="" />
  </div>
  <div class="textos">
    <h2>Habilidad: {{ habilidad.tecnologia }}</h2>
    <h3>Nivel: {{ habilidad.nivel }}</h3>
    <p>Descripcion: {{ habilidad.descripcion }}</p>
  </div>
</div>
<div class="botones">
  <span class="p-buttonset">
    <button
      (click)="editarHabilidadForm()"
      type="button"
      class="ov-btn-slide-right"
    >
      <i class="pi pi-pencil"></i>
      Editar
    </button>
    <button
      (click)="eliminarHabilidadForm()"
      type="button"
      class="ov-btn-slide-right"
    >
      <i class="pi pi-trash"></i>
      Borrar
    </button>
  </span>
</div>
