<div class="alineado">
  <h1>Habilidades</h1>
  <button class="ov-btn-slide-right" (click)="abrirModalHijo()" label="Show">
    <i class="pi pi-plus"></i>
    Añadir
  </button>
</div>
<div class="centrado">
  <app-habilidades-item
    (editarHabilidad)="abrirModalHijoEditar($event)"
    (eliminarHabilidad)="eliminarHabilidad($event)"
    [habilidad]="i"
    *ngFor="let i of habilidades"
  ></app-habilidades-item>
</div>
<app-habilidad-form
  (submitFormHabilidad)="nuevoSubmit($event)"
  #habilidadForm
></app-habilidad-form>
