<!-- <p>{{ atributoInformacion.nombre }}</p>
<p>{{ atributoInformacion.apellido }}</p> -->

<h1>Mi Perfil</h1>
<div class="card">
  <div class="mb-3"><img [src]="informacion?.foto" /></div>
  <div class="card-head">
    <h2>
      Nombre y apellido: {{ informacion?.nombre }} {{ informacion?.apellido }}
    </h2>
    <h2>Fecha de nacimiento: {{ informacion?.fechaNacimiento }}</h2>
    <h2>Nacionalidad: {{ informacion?.nacionalidad }}</h2>
    <h2>Ocupación: {{ informacion?.ocupacion }}</h2>
    <h2>Sobre mi: {{ informacion?.descripcion }}</h2>
  </div>
</div>
