<h1>Mi Perfil</h1>
<div class="alineado">
  <div class="secciones">
    <div class="img-wrapper">
      <div class="box2">
        <img [src]="informacion?.foto" alt="foto de perfil" />
      </div>
    </div>

    <div class="textos2">
      <h2>
        Nombre y apellido: {{ informacion.nombre }} {{ informacion.apellido }}
      </h2>
      <h3>
        Fecha de nacimiento:
        {{ informacion?.fechaNacimiento | date: "dd/MM/yyyy" }}
      </h3>
      <h3>Nacionalidad: {{ informacion.nacionalidad }}</h3>
      <h3>E-mail: {{ informacion.mail }}</h3>
      <h3>Ocupación: {{ informacion.ocupacion }}</h3>
      <p>Sobre mi: {{ informacion.descripcion }}</p>
    </div>
  </div>
</div>
<div class="botones">
  <span class="p-buttonset">
    <button
      *ngIf="logueado()"
      class="ov-btn-slide-right"
      (click)="abrirModalHijo()"
      label="Show"
    >
      <i class="pi pi-pencil"></i>
      Editar
    </button></span
  >
</div>
<app-informacion-form
  #informacionForm
  (editForm)="editInfo($event)"
></app-informacion-form>
