<!-- <p>{{ atributoInformacion.nombre }}</p>
<p>{{ atributoInformacion.apellido }}</p> -->

<h1>Mi Perfil</h1>
<div class="card">
  <div class="mb-3"><img [src]="informacion?.foto" /></div>
  <div class="card-head">
    <p>
      Nombre y apellido: {{ informacion?.nombre }} {{ informacion?.apellido }}
    </p>
    <p>Fecha de nacimiento: {{ informacion?.fechaNacimiento }}</p>
    <p>Nacionalidad: {{ informacion?.nacionalidad }}</p>
    <p>Ocupación: {{ informacion?.ocupacion }}</p>
    <p>Sobre mi: {{ informacion?.descripcion }}</p>
  </div>
</div>
