<div class="alineado">
  <h1>Cursos</h1>
  <button
    *ngIf="logueado()"
    class="ov-btn-slide-right"
    (click)="abrirModalHijo()"
    label="Show"
  >
    <i class="pi pi-plus"></i>
    Añadir
  </button>
</div>

<div class="centrado">
  <app-curso-item
    (editarCurso)="abrirModalHijoEditar($event)"
    (eliminarCursoEvent)="eliminarCursoLista($event)"
    [curso]="i"
    *ngFor="let i of cursos"
  ></app-curso-item>
</div>
<app-curso-form
  (submitFormCurso)="nuevoSubmit($event)"
  #cursoForm
></app-curso-form>
