<div class="secciones">
  <div class="box">
    <img [src]="eduFormal.foto" alt="" />
  </div>
  <div class="textos">
    <h2>Titulo: {{ eduFormal.titulo }}</h2>
    <h3>Institución: {{ eduFormal.institucion }}</h3>
    <h3>Periodo: {{ eduFormal.periodo }}</h3>
    <p>Descripcion: {{ eduFormal.descripcion }}</p>
  </div>
</div>
<div class="botones">
  <span class="p-buttonset">
    <button
      *ngIf="logueado()"
      (click)="editarEdu()"
      type="button"
      class="ov-btn-slide-right"
    >
      <i class="pi pi-pencil"></i>
      Editar
    </button>
    <button
      *ngIf="logueado()"
      (click)="eliminarEdu()"
      type="button"
      class="ov-btn-slide-right"
    >
      <i class="pi pi-trash"></i>
      Borrar
    </button>
  </span>
</div>
