<div class="alineado">
  <h1>Educación Formal</h1>
  <button class="ov-btn-slide-right" (click)="abrirModalHijo()" label="Show">
    <i class="pi pi-plus"></i>
    Añadir
  </button>
</div>

<div class="centrado">
  <app-eduformal-item
    (editarEduFormal)="abrirModalHijoEditar($event)"
    (eliminarEduFormal)="eliminarEduFormal($event)"
    [eduFormal]="i"
    *ngFor="let i of eduFormal"
  ></app-eduformal-item>
</div>
<app-eduformal-form
  #eduFormalForm
  (submitEduFormal)="submitEduFormal($event)"
></app-eduformal-form>
