<p-dialog
  [(visible)]="mostrarForm"
  [style]="{ width: '50vw' }"
  position="right"
  [modal]="true"
  [draggable]="false"
>
  <ng-template pTemplate="header" class="header-modal">
    <h2>Mi perfil</h2>
  </ng-template>
  <form [formGroup]="formulario" (ngSubmit)="submitFormulario()" class="form">
    <div class="p-fluid grid">
      <div class="field col-3 md:col-4">
        <span class="p-float-label">
          <input
            type="text"
            id="nombre"
            pInputText
            formControlName="nombre"
            class="ng-dirty"
          />
          <label for="nombre">Nombre</label>
        </span>
      </div>
      <div class="field col-12 md:col-4">
        <span class="p-float-label">
          <input
            type="text"
            id="apellido"
            pInputText
            formControlName="apellido"
            class="ng-dirty"
          />
          <label for="apellido">Apellido</label>
        </span>
      </div>
      <div class="field col-12 md:col-4">
        <span class="p-float-label">
          <input
            type="text"
            id="fechaNacimiento"
            pInputText
            formControlName="fechaNacimiento"
          />
          <label for="fechaNacimiento">Fecha de Nacimiento</label>
        </span>
      </div>

      <div class="field col-12 md:col-4">
        <span class="p-float-label">
          <input
            type="text"
            id="nacionalidad"
            pInputText
            formControlName="nacionalidad"
          />
          <label for="nacionalidad">Nacionalidad</label>
        </span>
      </div>
      <div class="field col-12 md:col-4">
        <span class="p-float-label">
          <input
            type="text"
            id="ocupacion"
            pInputText
            formControlName="ocupacion"
          />
          <label for="ocupacion">Ocupación</label>
        </span>
      </div>
      <div class="field col-12 md:col-4">
        <span class="p-float-label">
          <input type="mail" id="mail" pInputText formControlName="mail" />
          <label for="mail">E-mail</label>
        </span>
      </div>
      <div class="field col-12 md:col-4">
        <span class="p-float-label">
          <textarea
            inputId="descripcion"
            rows="3"
            style="resize: none"
            cols="30"
            pInputTextarea
            formControlName="descripcion"
          ></textarea>
          <label for="descripcion">Descripción</label>
        </span>
      </div>
    </div>

    <button class="ov-btn-slide-right" type="submit">Guardar</button>
  </form>
</p-dialog>
