<div class="alineado">
  <h1>Proyectos</h1>
  <button class="ov-btn-slide-right" (click)="abrirModalHijo()" label="Show">
    <i class="pi pi-plus"></i>
    Añadir
  </button>
</div>
<div class="centrado">
  <app-proyectos-item
    (editarProyecto)="abrirModalHijoEditar($event)"
    (eliminarProyecto)="eliminarProyecto($event)"
    [proyecto]="i"
    *ngFor="let i of proyectos"
  ></app-proyectos-item>
</div>
<app-proyecto-form
  #proyectoForm
  (submitProyecto)="nuevoSubmit($event)"
></app-proyecto-form>
