<div class="secciones">
  <div class="textos">
    <h2>Trabajo: {{ explaboral.trabajo }}</h2>
    <h3>Periodo: {{ explaboral.periodo }}</h3>
    <p>Descripcion: {{ explaboral.descripcion }}</p>
  </div>
</div>
<div class="botones">
  <span class="p-buttonset">
    <button
      (click)="editarExp()"
      type="button"
      icon="pi pi-pencil"
      class="ov-btn-slide-right"
    >
      <i class="pi pi-pencil"></i>
      Editar
    </button>
    <button (click)="eliminarExp()" type="button" class="ov-btn-slide-right">
      <i class="pi pi-trash"></i>Borrar
    </button>
  </span>
</div>
