<p-dialog
  [(visible)]="mostrarFormulario"
  [style]="{ width: '50vw' }"
  position="right"
  [modal]="true"
  [draggable]="false"
>
  <ng-template pTemplate="header" class="header-modal">
    <h2>Habilidad</h2>
  </ng-template>
  <form [formGroup]="formulario" (ngSubmit)="submitHabilidad()" class="form">
    <div class="p-fluid grid">
      <div class="field col-3 md:col-4">
        <span class="p-float-label">
          <input
            type="text"
            id="tecnologia"
            pInputText
            formControlName="tecnologia"
          />
          <label for="tecnologia">Tecnología</label>
        </span>
      </div>
      <div class="field col-12 md:col-4">
        <span class="p-float-label">
          <input type="text" id="nivel" pInputText formControlName="nivel" />
          <label for="nivel">Nivel</label>
        </span>
      </div>
      <div class="field col-12 md:col-4">
        <span class="p-float-label">
          <input type="text" id="foto" pInputText formControlName="foto" />
          <label for="foto">Foto</label>
        </span>
      </div>
      <div class="field col-12 md:col-4">
        <span class="p-float-label">
          <textarea
            inputId="descripcion"
            rows="3"
            style="resize: none"
            cols="30"
            pInputTextarea
            formControlName="descripcion"
          ></textarea>
          <label for="descripcion">Descripción</label>
        </span>
      </div>
    </div>

    <button class="ov-btn-slide-right" type="submit">Guardar</button>
  </form>
</p-dialog>
