<div class="alineado">
  <h1>Experiencia Laboral</h1>
  <button class="ov-btn-slide-right" (click)="abrirModalHijo()" label="Show">
    <i class="pi pi-plus"></i>
    Añadir
  </button>
</div>
<div class="centrado">
  <app-explaboral-item
    (editarExplaboral)="abrirModalHijoEditar($event)"
    (eliminarExplaboral)="eliminarExpLaboral($event)"
    [explaboral]="i"
    *ngFor="let i of explaboral"
  ></app-explaboral-item>
</div>
<app-explaboral-form
  #explaboralForm
  (submitExpLab)="submitExpLab($event)"
></app-explaboral-form>
