<div class="secciones">
  <div class="box">
    <img [src]="curso.foto" alt="" />
  </div>

  <div class="textos">
    <h2>Titulo: {{ curso.nombre }}</h2>
    <h3>Institución: {{ curso.institucion }}</h3>
    <h3>Duración: {{ curso.duracion }}</h3>
    <p>Descripción: {{ curso.descripcion }}</p>
  </div>
</div>
<div class="botones">
  <span class="p-buttonset">
    <button
      *ngIf="logueado()"
      (click)="editarCursoForm()"
      type="button"
      class="ov-btn-slide-right"
    >
      <i class="pi pi-pencil"></i> Editar
    </button>
    <button
      *ngIf="logueado()"
      (click)="eliminarCurso()"
      type="button"
      class="ov-btn-slide-right"
    >
      <i class="pi pi-trash"></i>
      Borrar
    </button>
  </span>
</div>
