<div class="card-head">
  <h2>Titulo: {{ curso.nombre }}</h2>
  <h3>Institucion: {{ curso.institucion }}</h3>
  <h3>Duracion: {{ curso.duracion }}</h3>
  <p>Descripción: {{ curso.descripcion }}</p>
  <p class="link">Enlace: {{ curso.enlace }}</p>
</div>
<!-- <span class="p-buttonset">
  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-pencil"
    class="p-button-rounded p-button-success"
  ></button>
  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-trash"
    class="button-personal p-button-rounded"
  ></button>

</span> -->
