/* You can add global styles to this file, and also import other style files */
/*---------------------------Generales----------------------*/
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Montserrat:wght@200;300;400;500;700&family=Plus+Jakarta+Sans:wght@200;300;400;600&family=Source+Sans+Pro:wght@200;300;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "Plus Jakarta Sans", sans-serif;

  width: calc(100%-5rem);
  height: 100%vh;
  z-index: 0;
  top: 0;
  transition: all 0.5s ease;
  background: var(--color-fondo);
}
:root {
  --color-oscuro: #524a4e;
  --color-claro: #fdeff4;
  --color-rosaC: #ffc0d3;
  --color-rosa: #ff5c8d;
  --color-fondo: #f5dcd9;
}

/*---------------------------Cards----------------------*/
.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #fff;
  margin: 1.25rem 0 1.25rem 0;
  box-shadow: 0 0.25rem 0.5rem hsl(284, 13%, 55%);
  line-height: 2rem;
}
.card-head {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #edf1f2;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 10px;
}
.card-body {
  padding: 1rem 1.5rem;
  line-height: 2rem;
}
.card-info {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #fff;
  margin: 1.25rem 0 1.25rem 0;
  box-shadow: 0 0.25rem 0.5rem hsl(284, 13%, 55%);
  line-height: 2rem;
  width: 85%;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: #524a4e;
}
/*----------------------- imagenes------------------------------*/
.circular-reveal {
  width: 256px;
  height: 256px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.circular-reveal img {
  width: 100%;
}

/*------------------------------botones----------------------------------*/
.ov-btn-slide-right {
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-weight: 500;
  background: var(--color-rosaC); /* color de fondo */
  color: var(--color-oscuro); /* color de fuente */
  border: 1px solid #fdeff4; /* tamaño y color de borde */
  padding: 9px 11px;
  border-radius: 3px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  width: 5rem;
}
.ov-btn-slide-right:hover {
  color: var(--color-oscuro); /* color de fuente hover */
}
.ov-btn-slide-right::after {
  content: "";
  background: var(--color-rosa); /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.ov-btn-slide-right:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
