/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Montserrat:wght@200;300;400;500;700&family=Source+Sans+Pro:wght@200;300;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "Montserrat", sans-serif;

  width: calc(100%-5rem);
  height: 100%vh;
  z-index: 0;
  top: 0;
  transition: all 0.5s ease;
  background: var(--color-fondo);
}
:root {
  --color-oscuro: #524a4e;
  --color-claro: #fdeff4;
  --color-rosaC: #ffc0d3;
  --color-rosa: #ff5c8d;
  --color-fondo: #fddfdb;
}
.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #fff;
  margin: 1.25rem 0 1.25rem 0;
  box-shadow: 0 0.25rem 0.5rem #68615a;
  line-height: 2rem;
}
.card-head {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #edf1f2;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 10px;
}
.card-body {
  padding: 1rem 1.5rem;
}
.button-personal {
  color: #fdeff4;
  background-color: #524a4e;
  border: 1px solid #524a4e;
}
.link {
  transform: translateX(-0.75em);
  transition: transform 200ms;
}
.link::before {
  content: "#";
  display: inline-block;
  width: 0.75em;
  color: #524a4e;
  opacity: 0;
  transition: opacity 200ms;
}
.link:hover {
  transform: none;
}
.link:hover::before {
  opacity: 1;
}
